.footer {

  background-color: #f0f0f0;
  color: #707070;
}
#products
{
  margin-bottom: 200px;
}
form{
  margin-bottom: 450px;
}
label
{
  margin: 1%;
  color: white;
}
.first{
  margin-top:  30px;
}

.email{
  margin-top: 30px;
}

#logo {
  margin: -18px;
}
.card
{
  border: solid black 2px;
}


body{
  background-image: url("/images/blue.png");
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 1920px 1080px;
}
