<option value="" selected>Choose... </option>
<option value="appliances">Appliances</option>
<option value="Automotive">Automotive</option>
<option value="Books">Books</option>
<option value="Clothing Accessories">Clothing and Accessories</option>
<option value="Electronics">Electronics</option>
<option value="Furniture">Furniture</option>
<option value="Health and Personal Care">Health and Personal Care</option>
<option value="Commercial Products">Commercial Products</option>
<option value="Movies and Tv">Movies and TV</option>
<option value="Music">Music</option>
<option value="Outdoors">Outdoors</option>
<option value="Pets">Pets</option>
<option value="Shoes and Handbags">Shoes and Handbags</option>
<option value="Sports">Sports</option>
<option value="Tools and Home Improvement">Tools and Home Improvment</option>
<option value="Toys Games">Toys and Games</option>
