<option value="" selected>Choose... </option>
<option value="appliances">Appliances</option>
<option value="books">Books</option>
<option value="clothing_accessories">Clothing and Accessories</option>
<option value="electronics">Electronics</option>
<option value="furniture">Furniture</option>
<option value="health_personal_care">Health and Personal Care</option>
<option value="industrial_scientific">Industrial and Scientific</option>
<option value="movie_tv">Movies and TV</option>
<option value="music">Music</option>
<option value="outdoors">Outdoors</option>
<option value="pet">Pets</option>
<option value="shoes_handbags">Shoes and Handbags</option>
<option value="sports">Sports</option>
<option value="tools_home_improvement">Tools and Home Improvment</option>
<option value="toys_games">Toys and Games</option>