<option value="" selected>Choose...</option>
<option value="vancouver">Vancouver</option>
<option value="burnaby">Burnaby</option>
<option value="surrey">Surrey</option>
<option value="new_west">New Westminster</option>
<option value="coquitlam">Coquitlam</option>
<option value="richmond">Richmond</option>