<option value="" selected>Choose...</option>
<option value="Vancouver">Vancouver</option>
<option value="Burnaby">Burnaby</option>
<option value="Surrey">Surrey</option>
<option value="New Westminster">New Westminster</option>
<option value="Coquitlam">Coquitlam</option>
<option value="Richmond">Richmond</option>
