<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <span class="navbar-brand">{{siteName}}</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      {{#if user}}
        <a class="nav-item nav-link" href="#">{{username}}</a>
        <a class="nav-item nav-link btn btn-danger" href="/logout">Logout</a>
        <a class="nav-item nav-link" href="/add">Add</a>
        <a class="nav-item nav-link" href="/">Home</a>
        <a class="nav-item nav-link" href="/products">Products</a>
        <a class="nav-item nav-link" href="/search">Search</a>
      {{else}}
        <a class="nav-item nav-link" href="/login">Login</a>
        <a class="nav-item nav-link btn btn-primary" href="/signup">Signup</a>
        <a class="nav-item nav-link" href="/">Home</a>
        <a class="nav-item nav-link" href="/products">Products</a>
        <a class="nav-item nav-link" href="/search">Search</a>
      {{/if}}
    </div>
  </div>
</nav>
