<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    {{>headinit}}
    <script src="Script.js"></script>
  </head>
  <body>
    {{>navbar}}
    <h1 align="center">Products</h1>
    <div class="row justify-content-center" id="products"> </div>
    {{>footinit}}
  </body>
</html>
