<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    {{>headinit}}
    <script src="AddImage.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  <body>
    {{>navbar}}
    <h1 align="center">{{title}}</h1>
    <div class="container">
      <form action="/firebase" method="post">
        <div class="first">
          <div class="form-row mt-3">
            <div class="col-sm mt-3">
              <label for="name">Product Name <span class="">Required</span></label>
              <input type="text" class="form-control" id="name" placeholder="Product Name" name="name" required>
            </div>
            <div class="col-sm mt-3">
              <label for="email">Email</label>
              <input type="text" class="form-control" id="email" name="email" value="{{username}}" readonly>
            </div>
            <div class="col-sm mt-3">
              <label for="phone_number">Phone Number</label>
              <input type="text" class="form-control" id="phone_number" placeholder="Phone Number" name="phone_number">
            </div>
          </div>
          <div class="form-row">
            <div class="col-sm mt-3">
              <label for="inputAddress">Price</label>
              <input type="text" class="form-control" id="price" placeholder="$" name="price" required>
            </div>
            <div class="col-sm mt-3">
              <label for="inputAddress2">Condition</label>
              <input type="text" class="form-control" id="condition" placeholder="Good,Bad,Excellent" name="condition">
            </div>
            <div class="col-sm mt-3">
              <label for="location">Location</label>
              <select id="location" class="form-control" name="location" required>
                  {{>location_list}}
              </select>
            </div>
          </div>
          <div>
            <label for="category">Category</label>
            <select id="category" class="form-control" name="category" required>
                {{>category_list}}
            </select>
          </div>
          <div class="form-row mt-3">
            <div class="col-sm mt-3 custom-file">
              <input type="file" class="custom-file-input" id="fileButton" name="something" onclick="imageUpload()">
              <label class="custom-file-label" for="fileButton">Submit an image</label>
            </div>
            <div class="col-sm mt-3">
              <div align="center" class="g-recaptcha" data-sitekey="6Lcdi6IUAAAAAIb75r4wXBG9BpOOa1WnhGocDsQ0"></div>
            </div>
            <div class="col-sm mt-3">
              <button type="submit" class="btn btn-primary btn-lg btn-block">Post</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
    <script>
      $(document).ready(function() {
        $('#comment_form').submit(function() {
          $(this).ajaxSubmit({
            error: function(xhr) {
              status('Error: ' + xhr.status);
            },
           success: function(response) {
            console.log(response);
           }
          });
          //Very important line, it disable the page refresh.
          return false;
        });
      });
    </script>
    {{>footinit}}
  </body>
</html>
