<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/stylesheet.css">
</head>
<body>

<BR><BR>
<form action="/firebase" method="post">
    <label style="color: snow;">
        Product Name:
    </label>
    <label>
        <input type="text" id="name" name="name">
    </label>
    <br><br>
    <label style="color: snow;">
        Location:
    </label>
    <label>
        <input type="text" id="location" name="location">
    </label>
    <br><br>
    <label style="color: snow;">
        Condition:
    </label>
    <label>
        <input type="text" id="condition" name="condition">
    </label>
    <br><br>
    <label style="color: snow;">
        Price:
    </label>
    <label>
        <input type="text" id="price" name="price">
    </label><br><br>

    <button type="submit">Submit</button>

    <progress value="0" max="100" id="uploader">0%</progress>
    <label>
    <input type="file" value="upload" id="fileButton" name="something" onchange="imageUpload()">
    </label>
    <img src="" alt="image" id="holder">

</form>








<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://www.gstatic.com/firebasejs/5.10.1/firebase.js"></script>
<script>

    var config = {
        apiKey: "AIzaSyD-JUCw1YT0kN7rFez1AZckOvLC3E5kcY0",
        authDomain: "bhredz.firebaseapp.com",
        databaseURL: "https://bhredz.firebaseio.com",
        projectId: "bhredz",
        storageBucket: "bhredz.appspot.com",
        messagingSenderId: "37106834429"
    };
    firebase.initializeApp(config);
</script>
<!--<script src="AddImage.js"></script> -->


<script src="image.js"></script>
<!--script src="AddImage.js"></script> -->
</body>
</html>