<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    {{>headinit}}
</head>
<body>
    {{>navbar}}
    <div id="test"></div>
    {{>footinit}}
    <script>
      var curUrl = window.location.pathname.split("/")[2];
      var docRef = firebase.firestore().collection("Products").doc(curUrl);
      docRef.get().then(function(doc) {
        document.getElementById('test').innerHTML =
          `<h1>` + doc.data().Name + ` - $` + doc.data().Price + `</h1>
          <img src="` + doc.data().Img + `" alt="A picture of ` + doc.data().Name + `">
          <p>Location: <b>` + doc.data().Location + `</b></p>
          <p>Condition: <b>` + doc.data().Condition + `</b></p>
          <p>Phone: <b>` + doc.data().Phone + `</b></p>`
      });
    </script>
</body>
</html>
