<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    {{>headinit}}
  </head>
  <body>
    {{>nav_bar}}

    <img src="images/Logo.PNG"class="rounded mx-auto d-block" alt="logo">

    <!--Jumbo-->
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-4">{{message}}</h1>
        <hr class="my-4">
        <p class="lead">
          {{#if user}}
          {{else}}
            <a href="/login"><h1>Log in to start shopping</h1></a>
          {{/if}}
        </p>
      </div>
    </div>
      <!--Jumbo-->

      <div class="wrapper">

      </div>

      {{>footer}}
    <br>
    {{>footinit}}

  </body>
</html>
