<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    {{>headinit}}
  </head>
  <body class="d-flex flex-column h-100">
    {{>navbar}}
    <div class="container-fluid">
      <div class="container mb-11">
        <main class="flex-shrink-0">
          <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <h1 class="display-4">BREHDZlist</h1>
              <a class="btn btn-primary" href="/products">Products</a>
              <a class="btn btn-primary" href="/add">Add new</a>
            </div>
          </div>
        </main>
      </div>
    </div>
    {{>footer}}
    {{>footinit}}
  </body>
</html>
