<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    {{>headinit}}
  </head>
  <body>
    {{>nav_bar}}
    <br>
    {{>cart}}
    <br>
    {{>footer}}
    {{>footinit}}
  </body>
</html>
