<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
  </head>
  <body>
    {{>nav_bar}}
    <div class="wrapper">
      {{message}}
      <br>

      {{>items}}

      <br>
    </div>
    {{>footer}}
  </body>
</html>
